<div class="modal" tabindex="-1" role="dialog" id="{{ modal_id }}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modal_title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="{{ form_action }}">
            <!-- Tus campos de formulario aquí... -->
            {% for field in form_fields %}
              <div class="form-group">
                <label for="{{ field.id }}">{{ field.label }}</label>
                <input type="{{ field.type }}" class="form-control" id="{{ field.id }}" name="{{ field.name }}" value="{{ field.value }}">
              </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>