
{% extends 'layout2.html' %}
{% block title %}Edit{% endblock %}
{% block customCSS %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user-edit.css') }}">
{% endblock customCSS %}
{% block content %}
<form action="{{ url_for('main.update_user', id=user.id) }}" method="POST" class="form-horizontal">
    <h1 class="">Edit</h1>
    <div class="form-group">
        <label for="user_name" class="col-md-2 control-label">Username</label>
        <div class="col-md-10">
            <input type="text" id="user_name" name="user_name" class="form-control" value="{{user.user_name}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="full_name" class="col-md-2 control-label">Full name</label>
        <div class="col-md-10">
            <input type="text" id="full_name" name="full_name" class="form-control" value="{{user.full_name}}" required>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-md-2 control-label">Email</label>
        <div class="col-md-10">
            <input type="email" id="email" name="email" class="form-control" value="{{user.email}}" required>
        </div>
    </div>
    {% if is_user %}
    <div class="form-group">
        <label for="password" class="col-md-2 control-label">Password</label>
        <div class="col-md-10">
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
    </div>
    <div class="form-group">
        <label for="confirm_password" class="col-md-2 control-label">Confirm Password</label>
        <div class="col-md-10">
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
            <span id='message'></span>
        </div>
    </div>    
    {% endif %}
    {% if is_admin %}
        <div class="form-group">
            <label for="role" class="col-md-2 control-label">User Role</label>
            <div class="col-md-10">
                <select name="role" id="role" class="form-control">
                    <option value="user" {% if user.role == 'user' %}selected{% endif %}>User</option>
                    <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
                </select>

                </select>
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <div class="col-md-10 action-buttons">
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary" id="updateButton">Update</button>
                </div>
                <div class="col-md-4">
                    <a href="{{ url_for('main.home') }}" class="btn btn-danger">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    // Disable the upload button on page load
    $('#updateButton').prop('disabled', true);

    // Enable the upload button when any form field is changed
    $('form :input').change(function() {
        $('#updateButton').prop('disabled', false);
    });
});
</script>
{% endblock content %}
