{% block customHead %}
<link
rel="stylesheet"
href="{{ url_for('static', filename='css/modal.css') }}"
/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

{% endblock customHead %}

<div
  class="modal fade"
  id="taskModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="task_modal_label"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="task_modalLabel">
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        id="taskForm"
        method="post"
      >
        <div class="modal-body">
          <div class="form-group">
            <div class="form-element">
              <label for="title">Title</label>
              <input
                type="text"
                class="form-control"
                id="title"
                name="title"
                required
              />
            </div>
            <div class="form-element status-box">
              <label for="status">Status:</label>
              <select name="status" id="status" class="form-control" required>
                <option value="pending">Pending</option>
                <option value="open">Open</option>
                <option value="closed">Closed</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <div class="form-element">
              <label for="description">Description</label>
              <textarea
                class="form-control description-box"
                id="description"
                name="description"
                required
              ></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="form-element" style="display: grid;">
              <label for="user">Assign to:</label>
              <select class="selectpicker" data-live-search="true" id="user" name="user"></select>   
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#taskModal").on("shown.bs.modal", function () {
      const task = $("#taskModal").data("task");
      const isEdit = $("#taskModal").data("isEdit"); 
      // set the title of the modal
      let text = isEdit ? "Edit Task" : "Create Task";
      document.getElementById('task_modalLabel').innerText = text;
      // set the values of the form
      $("#title").val(task?.title);
      $("#description").val(task?.description);
      $("#status").val(task?.status);
      $("#is_edit").val(isEdit);
      // set the action of the form to the correct url once the user is provided
      if(isEdit){
        document.getElementById('taskForm').action = "/task/" + task.id + "/update";      
      }else {
        document.getElementById('taskForm').action = "/task/create";
      } 
    
      // set the user select options
      $.getJSON("/users/search", function (data) {
        var $userSelect = $("#user");
        $userSelect.empty();
        $.each(data.items, function (key, user) {
          $userSelect.append($("<option>").val(user.id).text(user.full_name));
        });
        $("#user").val(task.user?.id); //FIXME: set the selected value is not displaying correctly even when the value is set correctly, this will require further investigation.
        $('.selectpicker').selectpicker('refresh');

      });

      $('#user').on('change', function() {
    var selectedValue = $(this).val();
    console.log(selectedValue);
  });
    });


  });

</script>
