<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">{% if is_edit %}Edit User{% else %}Create User{% endif %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="userForm" {% if is_edit %}action="{{ url_for('user_routes.update_user', id=user.id) }}"{% endif %} method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group" id="passwordFields"style="display: none;">
            <label for="password">password</label>
            <input type="password" class="form-control" id="password" name="password" required>
    
            <label for="confirm">confirm_password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
        </div>
        <div class="form-group">
            <label for="full_name">full_name</label>
            <input type="text" class="form-control" id="full_name" name="full_name" required>
        </div>
        {% if is_admin %}
        <div class="form-group">
            <label for="role">User Role</label>
            <div>
                <select name="role" id="role" class="form-control" required>
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
        </div>
        {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeButton" style="display: none;">Close</button>
          <button type="submit" class="btn btn-primary" id="saveButton" style="display: none;">Save changes</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="okButton" style="display: none;">Ok</button>
          <button type="button" class="btn btn-primary" id="editButton" onclick="setModes(true)" style="display: none;">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
    $('#userModal').on('shown.bs.modal', function () {    
      var user = $('#userModal').data('user');
      var is_edit = $('#userModal').data('is_edit');
      // var is_admin = $('#userModal').data('is_admin');

      $('#username').val(user.user_name);
      $('#email').val(user.email);
      $('#full_name').val(user.full_name);
      $('#role').val(user.role);
      setModes(is_edit);
  });
  $('#password, #confirm_password').on('keyup', function () {
        var password = $('#password').val();
        var confirmPassword = $('#confirm_password').val();

        if (password == '' || confirmPassword == '') {
            $('#message').html('').css('color', 'none');
            $('#registerButton').prop('disabled', true);
        } else if (password == confirmPassword) {
            $('#message').html('Passwords match').css('color', 'green');
            $('#registerButton').prop('disabled', false);
        } else {
            $('#message').html("Passwords don't match").css('color', 'red');
            $('#registerButton').prop('disabled', true);
        }
    });
    //Email validation to know if the email is already registered
    $('#email').on('keyup', function () {
        //check if #email is a valid format before continue
        var email = $('#email').val();
        var emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
        if(emailRegex.test(email)){   
            $.ajax({
                url: `/user/${email}`,
                type: 'GET',
                success: function (response) {
                    // if the response is a number, it means that the email is already registered
                    if (response === 'exist') {
                        $('#message').html('Email already exists').css('color', 'red');
                        $('#registerButton').prop('disabled', true);
                    } else {
                        $('#message').html('').css('color', 'none');
                        $('#registerButton').prop('disabled', false);
                    }
                }
            });
        }
    });
});

  function setModes(isEdit) {
  var isAdmin = $('#userModal').data('is_admin');
  var isSelf = $('#userModal').data('is_self');


  // Update the modal title
  var modalTitle = document.getElementById('userModalLabel');
  modalTitle.textContent = isEdit ? 'Edit User' : 'Create User';

  // Update the form action
  var form = document.querySelector('#userModal form');
  form.action = isEdit ? '/update_user' : '/create_user';

  // Update the form fields
  var formInputs = document.querySelectorAll('#userModal form input');
  formInputs.forEach(function(field) {
    field.readOnly = !isEdit;
  });
  var formSelect = document.querySelector('#userModal form select');
  formSelect.disabled = !isEdit;
  if(isSelf && isEdit) {
    $('#passwordFields').show();
  } else {
    $('#passwordFields').hide();
  }

  // Update footer buttons dinamically
  if (isEdit) {
        $('#closeButton').show();
        $('#saveButton').show();
        $('#okButton').hide();
        $('#editButton').hide();
  } else {
        $('#closeButton').hide();
        $('#saveButton').hide();
        $('#okButton').show();
        if (isAdmin || isSelf) {
            $('#editButton').show();
        } else {
            $('#editButton').hide();
        }
    }
}
</script>